<div class="container-fluid" style="color: #000;">
  <div class="row" style="background-image: linear-gradient(rgba(55, 59, 68, 0.62),rgba(55, 59, 68, 0.62)),url('img/about_back.jpg');padding-top:60px;padding-bottom:20px;min-height:300px;background-repeat:no-repeat;background-size:cover;">
    <h1 class="text-center" style="font-size:62px;font-weight:900;color:#fff;">ABOUT US</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h5 style="line-height:1.6;">We are leading Laptop &amp; Desktop Service Providing Company Located in Bangalore. Company has well Qualified, Experienced and Certified Engineers who can Repair/Service any kind of Laptop Problems. Company deals
        with
        major brands like Dell, Lenovo, Sony, Acer, Toshiba, HP, Asus Laptops etc.We are also a provider of IT products and services to the private and public sector. A trading name of Enterprise Solution Network, now Supplies IT products to many
        Leading companies and Institutions.Also provides quality service to many individuals as well as to companies on AMC basis. With a vast experience and a portfolio of different information technology products from all the leading
        manufacturers,
        We are an independent supplier, offering great deals for businesses, public sector establishments and the home.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3><b> Why Techzo Technologies ??</b> </h3>
      <div class="" style="margin-bottom: 20px;">
        <ul class="list-unstyled qualities_div">
          <li>
            <div class="col-md-1">
              <img src="img/icons/repair-expert.png"/>
            </div>
            <div class="col-md-11">
              <h4>Experts in Desktop &amp; Laptop Servicing.</h4>
            </div>
          </li>
          <li>
            <div class="col-md-1">
              <img src="img/icons/stopwatch.png"/>
            </div>
            <div class="col-md-11">
              <h4>Fast repair turnaround.</h4>
            </div>
          </li>
          <li>
            <div class="col-md-1">
              <img src="img/icons/meeting.png"/>
            </div>
            <div class="col-md-11">
              <h4>Friendly &amp; experienced.</h4>
            </div>
          </li>
          <li>
            <div class="col-md-1">
              <img src="img/icons/bar-chart.png"/>
            </div>
            <div class="col-md-11">
              <h4>Unmatchable Quality Service than ever before.</h4>
            </div>
          </li>
          <li>
            <div class="col-md-1">
              <img src="img/icons/hand-shake.png"/>
            </div>
            <div class="col-md-11">
              <h4>Good, Prompt &amp; Honest Service.</h4>
            </div>
          </li>
          <li>
            <div class="col-md-1">
              <img src="img/icons/roof.png"/>
            </div>
            <div class="col-md-11">
              <h4>All Kinds of Service under One roof.</h4>
            </div>
          </li>
          <li>
            <div class="col-md-1">
              <img src="img/icons/money.png"/>
            </div>
            <div class="col-md-11">
              <h4>Reasonable &amp; affordable service charges.</h4>
            </div>
          </li>
          <li>
            <div class="col-md-1">
              <img src="img/icons/shield.png"/>
            </div>
            <div class="col-md-11">
              <h4>All work guaranteed.</h4>
            </div>
          </li>
        </ul>
      </div>
      <div class="min_padding">
        <h5 style="line-height:1.6;">We are here to share expert advice and ensure that your IT products reach your business on time, every time, helping you to free up your internal resources and concentrate on your core business.
          Post Sales support is the most important aspect of our business and we aim to exceed your expectations with a superior level of pre and post sales technical support. We provide a strong team of qualified Technical Support and Customer
          Service Advisors to offer advice, assistance and support for any products and solutions purchased from ESNCW.</h5>
      </div>
    </div>
    <!--
    Product range includes:

    Desktop &amp; Laptop Servicing
    Desktop &amp; Laptop Peripherals
    Surveillance &amp; Security Systems
    Software &amp; Licensing
    Chip level Repairs
    Data Recovery
    UPS Sales &amp; Maintenance
    Printer’s &amp; Accessories

     -->
  </div>


</div>
