<link rel="stylesheet" href="css/contact.css">
<div class="container-fluid" style="margin:10px;">
  <div class="col-md-12 text-center" style="padding:15px;">
    <h1 style="font-size:52px;font-weight: bolder;">CONTACT US</h1>
    <h5>We would like to hear from you to Server you better. </h5>
  </div>
  <div class="col-md-8 col-md-offset-2" style="color:#000;border-radius:12px;margin-bottom:25px;padding-bottom:15px;">
    <!-- background-image:linear-gradient(to right,rgba(55, 59, 68, 0.62),rgba(66, 134, 244, 0.69)); -->
    <div class="col-md-6" style="background:rgba(67, 147, 242, 0.92);color:#fff;border-top-left-radius: 10px;border-bottom-left-radius: 10px;box-shadow: 5px 5px 12px 5px rgba(67, 147, 242, 0.3)">
      <div class="" style="padding-bottom:10px;">
        <h2 class=""><b>Reach Out to us !</b> </h2>
        <span style="font-size:12px;">Got a Question about Sales or Service? Are you looking for a Upgrade for your PC? Have some Suggestions or just want to say hi? Contact us: </span>
      </div>
      <div class="form-group">
        <!-- <label>First Name</label> -->
        <input type="text" class="form-control" placeholder="First Name"/>
      </div>
      <div class="form-group">
        <!-- <label>Last Name</label> -->
        <input type="text" class="form-control" placeholder="Last Name"/>
      </div>
      <div class="form-group">
        <!-- <label>Email</label> -->
        <input type="text" class="form-control" placeholder="Email"/>
      </div>
      <div class="form-group">
        <!-- <label>Phone Number</label> -->
        <input type="text" class="form-control" placeholder="Mobile Number"/>
      </div>
      <div class="form-group">
        <!-- <label>Message</label> -->
        <textarea name="name" rows="5" class="form-control" placeholder="Message" style="resize: none;"></textarea>
      </div>
      <div class="" style="padding:15px;">
        <button type="button" class="btn form-control" style="color:#4393f2;background-image:linear-gradient(to right,rgba(244, 244, 244, 1),rgba(236, 236, 236, 0.69)); padding:7px;border-radius:10px;">
          <b>Submit</b>
        </button>
      </div>
    </div>
    <div class="col-md-6" style="padding-bottom:70px;background:#fff;color:#000;border-top-right-radius: 10px;border-bottom-right-radius: 10px;box-shadow: 5px 5px 12px 5px rgba(67, 147, 242, 0.3);">
      <h2 class="text-center">Team Members</h2>
      <div class="col-md-12">
        <h6>Not Sure Where to Start? Need help adding that extra Performance to your PC. Just visit our Service center or get ion touch with us.</h6>
        <div class="row">
          <div class="col-md-3">
            <img src="img/tom.jpg" style="width:70px;height:70px;border-radius:50%;background:#eee;margin:10px;"/>
          </div>
          <div class="col-md-9" style="padding-top: 15px;">
            <span><b>Kushal B.N.</b> </span>
            <span>owner</span> <br/>
            <span style="color:#4393f2;">+91 9878785690</span> <br/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img src="img/nat.jpg" style="width:70px;height:70px;border-radius:50%;background:#eee;margin:10px;"/>
          </div>
          <div class="col-md-9" style="padding-top: 15px;">
            <span><b>Natalie Portman</b> </span> <br/>
            <span>co owner</span> <br/>
            <span style="color:#4393f2">+91 9867546789</span> <br/>
          </div>
        </div>
        <div class="row">
          <h3>Other ways to connect</h3>
          <hr/>
          <div class="col-md-3">
            <img src="img/icons/facebook_blue.png"/>
          </div>
          <div class="col-md-3">
            <img src="img/icons/instagram.png"/>
          </div>
          <div class="col-md-3">
            <img src="img/icons/twitter.png"/>
          </div>
          <div class="col-md-3">
            <img src="img/icons/whatsapp.png" style="border-radius:12px;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
